<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="com.sc.springmvc.dao.QuestionDao" > 
<resultMap id="QuestionMap" type="com.sc.springmvc.pojo.Question" > 
<id property="question_id" column="question_id" jdbcType="INTEGER" /> 
<result property="question_body" column="question_body" jdbcType="VARCHAR" /> 
<result property="question_form" column="question_form" jdbcType="CHAR" /> 
<result property="branch_a" column="branch_a" jdbcType="VARCHAR" /> 
<result property="branch_b" column="branch_b" jdbcType="VARCHAR" /> 
<result property="branch_c" column="branch_c" jdbcType="VARCHAR" /> 
<result property="pic_name" column="pic_name" jdbcType="VARCHAR" /> 
<result property="question_key" column="question_key" jdbcType="CHAR" /> 
<result property="question_type_id" column="question_type_id" jdbcType="INTEGER" /> 
<result property="question_mark" column="question_mark" jdbcType="INTEGER" />
<result property="question_sts" column="question_sts" jdbcType="CHAR" /> 
</resultMap> 

<sql id="Base_Column_List" > 
question_id, question_body, question_form, branch_a, branch_b, branch_c, pic_name, question_key, question_type_id, question_mark, question_sts 
</sql> 

<!-- 随机获取10道试题 -->
<select id="randomFind10Question" statementType="CALLABLE" parameterType="java.util.Map" >
		call pkg_combo.pro_randomFind10Question(
			#{n, mode=IN, jdbcType=INTEGER},
			#{result, jdbcType=CURSOR, mode=OUT, javaType=ResultSet, resultMap=QuestionMap}
		)
</select>

<select id="findQuestionbyId" statementType="CALLABLE" parameterType="java.util.Map" >
		call pkg_combo.proc_findQuestionbyId(
			#{question_id, mode=IN, jdbcType=INTEGER},
			#{result, jdbcType=CURSOR, mode=OUT, javaType=ResultSet, resultMap=QuestionMap}
		)
</select>

</mapper>